.mainWrapper {
  border: 3px solid rgb(100, 100, 100);
  border-radius: 10px;
  width: 50%;
  height: auto;
  padding: 10px;
}

.questao {
  border: 3px solid rgb(129, 129, 129);
  margin: 10px;
  border-radius: 10px;
}

.yesButton,
.noButton {
  border-radius: 5px;
  background-color: rgba(185, 185, 185, 0.418);
  margin: 5px;
  width: 80px;
  height: 30px;
}

.chosenAnswerButton {
  width: 130px;
  height: 30px;
  border-radius: 5px;
  background-color: #b9b9b96b;
  margin: 5px;
}

.yesButton:hover,
.noButton:hover,
.chosenAnswerButton:hover {
  background-color: rgba(0, 0, 0, 0.753);
  color: #ffffff;
  font-weight: 600;
}
